*{
    background-color: rgb(16, 15, 15);
    color: aliceblue;
}
nav{
    display: flex;
    justify-content: right;
    height: 100px;

}
ul{
    flex-grow: 0;
    font-size: 30px;
}

a:hover
{
    color: rgb(0, 200, 83);
}
a{
    text-decoration:none;

}

.intro{
    display: flex;
    height: 800px;
}
.intro .hemang{
    text-align: center;
    flex-grow: 1;
    font-size: 80px;
    justify-self: center;
    align-self: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.intro .hemang:hover
{
    color:rgb(0, 200, 83);
}
.intro img{
    justify-self: right;
    align-self: center;
    
}
.about h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
}
.about h1:hover{
    color:rgb(0, 200, 83);
}
.about p{
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
}  
span{
    color: rgb(0, 200, 83);
}
.para{
    display: flex;
} 

.logos{
    display: flex;
    justify-content: center;
}
.tools{
    display: flex;
    justify-content: center;
}
.skills h1
{
   text-align: center;
   font-size: 60px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-decoration: underline;
}
.skills h1:hover
{
    color:rgb(0, 200, 83);
}
.contact h1{
    text-align: center;
   font-size: 60px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-decoration: underline;
}
.contact h1:hover
{
    color:rgb(0, 200, 83);
}
.socials{
    display: flex;
    justify-content: center;
}
.footer{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}